.App {
  text-align: center;
}

.toolbar {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar h1 {
  margin: 0;
}

.toolbar button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #777;
}

.toolbar .message-counter {
  background-color: #555;
  padding: 10px 20px;
}

.introduction {
  padding: 20px;
}

form {
  margin-top: 20px;
}

form input, form textarea, form button {
  margin: 10px 0;
  padding: 10px;
  width: 90%;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 20px;
  width: 90%;
}

.message img {
  max-width: 100%;
  height: auto;
}