.App {
  text-align: center;
}

.toolbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toolbar button {
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

.introduction {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.message-board {
  margin: 20px;
}

.message-board form {
  margin-bottom: 20px;
}

.message-board input,
.message-board textarea,
.message-board button {
  margin: 10px 0;
  padding: 10px;
  width: 95%;
}

.messages {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.message {
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  padding: 10px;
  margin: 10px 0;
}

.message strong {
  margin-right: 10px;
}